<template>
  <div class="state-management">
    <el-card>
      <el-row :gutter="20">
        <h2>Only module one</h2>
      </el-row>

      <el-row :guttter="20" align="center" justify="center" type="flex">
        <el-col :span="6">
          <custom-card-input />
        </el-col>

        <el-col :span="6">
          <custom-card-input-two />
        </el-col>

        <el-col :span="6">
          <custom-card-output />
        </el-col>
      </el-row>
    </el-card>

    <el-card>
      <el-row :gutter="20">
        <h2>Module one and module two</h2>
      </el-row>

      <el-row :guttter="20" align="center" justify="center" type="flex">
        <el-col :span="6">
          <custom-card-depth-one />
        </el-col>

        <el-col :span="6">
          <el-card>
            <el-row :gutter="20">
              <h3>Card type 2.0 - Output</h3>
            </el-row>

            <el-row :gutter="20">
              <p>Firstname: {{ firstName }} (hooked to module two)</p>
              <p>Lastname: {{ lastName }} (hooked to module two)</p>
              <p>Age: {{ stateDataTwo }} (hooked to module one)</p>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
    </el-card>
  </div>
</template>

<script lang="ts" src="./state-management.ts"></script>
