<template>
  <div class="life-cycle-hooks">
    <el-row :gutter="20" class="row-container">
      <p>These examples present how lifecycle hooks get fired</p>
      <p>Fetch or intialize data in created or mounted hooks</p>
    </el-row>

    <el-row
      :gutter="20"
      class="row-container"
      align="center"
      justify="center"
      type="flex"
    >
      <el-col :span="6" v-for="item in listData" :key="item.componentId">
        <custom-card
          :prop-a="item.propA"
          :prop-b="item.propB"
          :component-identifier="item.componentId"
        />
      </el-col>
    </el-row>

    <el-row :gutter="20" class="row-container">
      <p>Loop condition rendering: why computed property and NOT method?</p>
      <p>Open devTools and check in the console the "logs"</p>
    </el-row>

    <el-row :gutter="20" class="row-container">
      <el-switch v-model="toggle" />
    </el-row>

    <el-row
      :gutter="20"
      class="row-container"
      align="center"
      justify="center"
      type="flex"
    >
      <el-col
        :span="6"
        v-for="item in filteredListMethod(listData)"
        :key="item.componentId"
      >
        <custom-card
          :prop-a="item.propA"
          :prop-b="item.propB"
          :component-identifier="item.componentId"
        />
      </el-col>
    </el-row>

    <el-row
      :gutter="20"
      class="row-container"
      align="center"
      justify="center"
      type="flex"
    >
      <el-col :span="6" v-for="item in filteredList" :key="item.componentId">
        <custom-card
          :prop-a="item.propA"
          :prop-b="item.propB"
          :component-identifier="item.componentId"
        />
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts" src="./life-cycle-hooks.ts"></script>
