<template>
  <el-card>
    <el-row :gutter="20">
      <h3>Card type 1.0 - Input 1.2</h3>
    </el-row>

    <el-row :gutter="20">
      <input
        :value="stateDataOne"
        type="text"
        @keydown="updateStateDataOne($event.target.value)"
      />
    </el-row>

    <el-row :gutter="20">
      <input
        :value="stateDataTwo"
        type="range"
        @change="updateStateDataTwo($event.target.value)"
      />
    </el-row>

    <el-row :gutter="20">
      <input
        :checked="stateDataThree"
        type="checkbox"
        @click="updateStateDataThree($event.target.checked)"
      />
    </el-row>
  </el-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";

const moduleOne = namespace("ModuleOne");
@Component
export default class CustomCardInputTwo extends Vue {
  @moduleOne.State
  public stateDataOne!: string;
  @moduleOne.State
  public stateDataTwo!: number;
  @moduleOne.State
  public stateDataThree!: boolean;

  @moduleOne.Action
  public updateStateDataOne!: (newValue: string) => void;
  @moduleOne.Action
  public updateStateDataTwo!: (newValue: number) => void;
  @moduleOne.Action
  public updateStateDataThree!: (newValue: boolean) => void;
}
</script>
