<template>
  <el-card>
    <el-row :gutter="20">
      <h3>Card type 1.0 - Output</h3>
    </el-row>

    <el-row :gutter="20">
      <p>String data: {{ stateDataOne }}</p>
      <p>Numeric data: {{ stateDataTwo }}</p>
      <p>Boolean data:</p>
      <i class="el-icon-check" v-show="stateDataThree" />
      <i class="el-icon-close" v-show="!stateDataThree" />
    </el-row>
  </el-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";

const moduleOne = namespace("ModuleOne");
@Component
export default class CustomCardOutput extends Vue {
  @moduleOne.State
  private stateDataOne!: string;
  @moduleOne.State
  public stateDataTwo!: number;
  @moduleOne.State
  public stateDataThree!: boolean;
}
</script>
