<template>
  <div class="home">
    <h3>This is an example of how static resources get loaded from assets</h3>
    <img
      alt="Vue logo"
      src="../assets/baby-yoda.png"
      width="50%"
      height="auto"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {}
</script>
