<template>
  <div class="parent-child">
    <el-row :gutter="20" class="row-container">
      These examples present the different usages of directives in Vue
    </el-row>

    <el-row :gutter="20" class="row-container">
      <el-row :gutter="20" class="row-second-container">
        <h3>1. Conditional rendering and display: v-if and v-show</h3>
      </el-row>

      <el-row
        :gutter="20"
        class="row-second-container"
        align="center"
        justify="center"
        type="flex"
      >
        <el-col :span="6">
          <el-row :gutter="20">
            <el-switch
              v-model="vIfToggle"
              active-text="Rendered"
              inactive-text="Not rendered"
            />
          </el-row>

          <el-row :gutter="20" class="row-second-container">
            <template v-if="vIfToggle">
              <i class="el-icon-loading" />
              <i class="el-icon-loading" />
            </template>
          </el-row>
        </el-col>

        <el-col :span="6">
          <el-row :gutter="20">
            <el-switch
              v-model="vShowToggle"
              active-text="Displayed"
              inactive-text="Not displayed"
            />
          </el-row>

          <el-row :gutter="20" class="row-second-container">
            <template v-if="vShowToggle">
              <i class="el-icon-loading" />
              <i class="el-icon-loading" />
            </template>
          </el-row>
        </el-col>
      </el-row>
    </el-row>

    <el-row :gutter="20" class="row-container">
      <el-row :gutter="20" class="row-second-container">
        <h3>2. List rendering: v-for</h3>
      </el-row>

      <el-row :gutter="20" class="row-second-container">
        <h4>
          2.1. Rendering list elements as DOM nodes: with and without index as
          second argument
        </h4>
        <el-divider />

        <el-row
          :gutter="20"
          class="row-second-container"
          align="center"
          justify="center"
          type="flex"
        >
          <el-col :span="4">
            <ul>
              <!-- :key is the short-hand version for v-bind:key in order to bind list element to Virtual DOM node, make sure the data passed as key is unique-->
              <li v-for="item in exampleListOne" :key="item.name">
                {{ item.name }} | {{ item.color }}
              </li>
            </ul>
          </el-col>

          <el-col :span="4">
            <ul>
              <li v-for="(item, index) in exampleListOne" :key="item.name">
                {{ index }} | {{ item.name }} | {{ item.color }}
              </li>
            </ul>
          </el-col>
        </el-row>
      </el-row>

      <el-row :gutter="20" class="row-second-container">
        <h4>2.2. Rendering list elements with element state changes</h4>
        <el-divider />

        <el-row
          :gutter="20"
          class="row-second-container"
          align="center"
          justify="center"
          type="flex"
        >
          <el-col :span="6">
            <el-row :gutter="20" class="row-second-container">
              <el-input
                v-model="exampleTwoNameInput"
                placeholder="Enter name"
              />
            </el-row>
            <el-row :gutter="20" class="row-second-container">
              <el-input
                v-model="exampleTwoColorInput"
                placeholder="Enter color"
              />
            </el-row>
            <el-row :gutter="20" class="row-second-container">
              <el-button @click="addElementToList()" type="primary">
                Add to list
              </el-button>
            </el-row>
          </el-col>

          <el-col :span="4">
            <ul>
              <li v-for="item in exampleListTwo" :key="item.name">
                {{ item.name }} | {{ item.color }}
              </li>
            </ul>
          </el-col>
        </el-row>
      </el-row>

      <el-row :gutter="20" class="row-second-container">
        <h4>2.3. Rendering list elements as custom child components</h4>
        <el-divider />

        <el-row :gutter="20" class="row-second-container">
          <custom-card
            v-for="item in exampleListThree"
            :key="item.componentId"
            :prop-a="item.propA"
            :prop-b="item.propB"
            :component-identifier="item.componentId"
          />
        </el-row>
      </el-row>

      <el-row :gutter="20" class="row-second-container">
        <h4>2.4. Rendering list elements with conditional rendering</h4>
        <el-divider />

        <el-row :gutter="20" class="row-second-container">
          <el-switch v-model="vForToggle" />
        </el-row>

        <el-row
          :gutter="20"
          class="row-second-container"
          align="center"
          justify="center"
          type="flex"
        >
          <el-col :span="6"> List level conditional rendering </el-col>
          <el-col :span="4">
            <!-- When list level conditional rendering is needed make sure the v-if is applied to the parent component, if no parent component, use template-->
            <ul v-if="vForToggle">
              <li v-for="item in exampleListFour" :key="item.id">
                {{ item.name }}
              </li>
            </ul>
          </el-col>
        </el-row>

        <el-row
          :gutter="20"
          class="row-second-container"
          align="center"
          justify="center"
          type="flex"
        >
          <el-col :span="6"> List element level conditional rendering </el-col>
          <el-col :span="4">
            <ul>
              <!-- Instead of condifinal rendering for each element use computed property to achieve the same result-->
              <!-- Benefits: computed property will evaluate only when list/array is changed not every time the updated component lifecycle hook is fired-->
              <li v-for="item in filteredList" :key="item.id">
                {{ item.name }}
              </li>
            </ul>
          </el-col>
        </el-row>
      </el-row>
    </el-row>

    <el-row :gutter="20" class="row-container">
      <el-row
        :gutter="20"
        class="row-second-container"
        align="center"
        justify="center"
        type="flex"
      >
        <h3>3. Handling events: v-on</h3>
      </el-row>

      <el-row
        :gutter="20"
        class="row-second-container"
        align="center"
        justify="center"
        type="flex"
      >
      </el-row>
    </el-row>

    <el-row :gutter="20" class="row-container">
      <el-row
        :gutter="20"
        class="row-second-container"
        align="center"
        justify="center"
        type="flex"
      >
        <h3>4. Data binding: v-bind and v-model</h3>
      </el-row>

      <el-row
        :gutter="20"
        class="row-second-container"
        align="center"
        justify="center"
        type="flex"
      >
      </el-row>
    </el-row>
  </div>
</template>

<script lang="ts" src="./directives.ts"></script>
