#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

.row-container {
  padding: 20px 20px;
}

.row-second-container {
  padding: 10px 10px;
}

.row-third-container {
  padding: 5px 5px;
}

label {
  padding-left: 5px;
  padding-right: 5px;
}
