<template>
  <div class="nested-child">
    <el-row :gutter="20"><h3>This is the first child component</h3></el-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class NestedChildOne extends Vue {}
</script>
