<template>
  <div class="nested-routing">
    <el-row :gutter="20"><h3>This is the main component</h3></el-row>
    <el-row :gutter="20"><h3>Row from main component</h3></el-row>
    <el-row :gutter="20">
      <el-button
        type="primary"
        @click="navigateTo('/nested-routing/child-one')"
      >
        Go To child one
      </el-button>
      <el-button
        type="primary"
        @click="navigateTo('/nested-routing/child-two')"
      >
        Go To child two
      </el-button>
    </el-row>
    <router-view />
    <el-row :gutter="20"><h3>Row from main component</h3></el-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class NestedRounting extends Vue {
  /**
   * Methods
   */
  private navigateTo(path: string) {
    if (this.$router.currentRoute.path !== path) {
      this.$router.push({ path: path });
    }
  }
}
</script>

<style>
.nested-routing {
  background-color: rgb(212, 194, 170);
}
.nested-child {
  background-color: white;
}
</style>
