<template>
  <div class="parent-child">
    <el-row :gutter="20" class="row-container">
      These examples present the communication between parent-child components:
      props and custom event emitting
    </el-row>

    <el-row :gutter="20" class="row-container">
      <h3>Identifier of child emitting last event: {{ lastChildEvent }}</h3>
    </el-row>

    <el-row :gutter="20" class="row-container">
      <el-col :span="6">
        <!-- string properties can be sent with statical binding-->
        <!-- number and boolean properties have to be passed dynamically otherwise they will be considered as strings-->
        <!-- : is the short-hand expression for v-bind:-->
        <!-- :propName is defined with camelCase and referenced with kebab-case-->
        <custom-card
          prop-a="Sample PropA"
          :prop-b="1"
          component-identifier="Child1"
          @click-from-child="handleClick"
        />
      </el-col>

      <el-col :span="6">
        <custom-card
          :prop-b="2"
          component-identifier="Child2"
          @click-from-child="handleClick"
        />
      </el-col>

      <el-col :span="6">
        <custom-card
          prop-a="Sample PropA"
          :prop-b="3"
          :prop-c="examplePropC1"
          component-identifier="Child3"
          @click-from-child="handleClick"
        />
      </el-col>

      <el-col :span="6">
        <custom-card
          :prop-b="4"
          :prop-c="examplePropC2"
          component-identifier="Child4"
          @click-from-child="handleClick"
        />
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts" src="./parent-child.ts"></script>
