<template>
  <el-card>
    <el-row :gutter="20">
      <el-row :gutter="20">
        {{ propA }}
      </el-row>
      <el-row :gutter="20">
        {{ propB }}
      </el-row>
      <el-row :gutter="20"> {{ propC.firstName }} {{ propC.lastName }} </el-row>
      <el-row :gutter="20">
        <el-button type="primary" @click="handleClick(componentIdentifier)"
          >Emit to parent</el-button
        >
      </el-row>
    </el-row>
  </el-card>
</template>

<script lang="ts" src="./custom-card.ts"></script>
