<template>
  <el-card>
    <el-row :gutter="20">
      <h3>Card type 2.0 - Input</h3>
    </el-row>

    <el-row :gutter="20">
      <p>FirstName</p>
      <input
        :value="firstName"
        type="text"
        @keydown="updateFirstName($event.target.value)"
      />
    </el-row>

    <el-row :gutter="20">
      <p>LastName</p>
      <input
        :value="lastName"
        type="text"
        @keydown="updateLastName($event.target.value)"
      />
    </el-row>
  </el-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { namespace } from "vuex-class";

const moduleTwo = namespace("ModuleTwo");
@Component
export default class CustomCardDepthTwo extends Vue {
  @moduleTwo.State
  public firstName!: string;
  @moduleTwo.State
  public lastName!: string;

  @moduleTwo.Action
  public updateFirstName!: (newValue: string) => void;
  @moduleTwo.Action
  public updateLastName!: (newValue: string) => void;
}
</script>
