<template>
  <el-card>
    <custom-card-depth-two />
  </el-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CustomCardDepthTwo from "@/components/custom-card-module-two/CustomCardDepthTwo.vue";

@Component({
  components: { CustomCardDepthTwo },
})
export default class CustomCardDepthOne extends Vue {}
</script>
