<template>
  <div class="computed-watcher">
    <el-row :gutter="20" class="row-container">
      These examples present some simple usages of computed properties and
      watchers
    </el-row>

    <el-row
      :gutter="20"
      class="row-second-container"
      align="center"
      justify="center"
      type="flex"
    >
      <el-col :span="6">
        <el-form :model="user" label-position="top" :disabled="inWaiting">
          <el-form-item label="Firstname">
            <el-input v-model="user.firstName" />
          </el-form-item>

          <el-form-item label="Lastname">
            <el-input v-model="user.lastName" />
          </el-form-item>

          <el-form-item label="Age">
            <el-slider
              v-model="user.age"
              :max="100"
              :min="0"
              :show-input="true"
            />
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="onSubmit()">Add</el-button>
          </el-form-item>
        </el-form>
      </el-col>

      <el-col :span="6">
        <el-row
          :gutter="20"
          class="row-second-container"
          align="middle"
          justify="center"
          type="flex"
        >
          <label>Full name: {{ fullName }}</label>
        </el-row>

        <el-row
          :gutter="20"
          class="row-second-container"
          align="middle"
          justify="center"
          type="flex"
        >
          <el-progress type="circle" :percentage="progressPercentage" />
        </el-row>
      </el-col>
    </el-row>

    <el-row :gutter="20">
      <el-card v-for="user in adultUsers" :key="user.id">
        <el-row :gutter="20" align="middle" justify="center" type="flex">
          <label>
            {{ user.lastName }} {{ user.firstName }} is {{ user.age }}
          </label>
        </el-row>
      </el-card>
    </el-row>
  </div>
</template>

<script lang="ts" src="./computed-props-watchers.ts"></script>
