<template>
  <div id="app">
    <div id="nav">
      <el-button
        v-for="navItem in navigationItems"
        :key="navItem.name"
        type="primary"
        @click="navigateTo(navItem.path)"
      >
        {{ navItem.name }}
      </el-button>
    </div>
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {
  /**
   * Data
   */
  private navigationItems = [
    { name: "Home", path: "/" },
    { name: "Parent-child relation", path: "/parent-child" },
    { name: "Directives", path: "/directives" },
    { name: "Computed properties and watchers", path: "/comp-prop-watchers" },
    { name: "Life cycle hooks", path: "/life-cycle-hooks" },
    { name: "Nested routing", path: "/nested-routing" },
    { name: "State management", path: "/state-management" },
  ];

  /**
   * Methods
   */
  private navigateTo(path: string) {
    if (this.$router.currentRoute.path !== path) {
      this.$router.push({ path: path });
    }
  }
}
</script>

<style lang="scss">
@import "./style/_main.scss";
</style>
